* {
    padding: 0;
    margin: 0;
}

.container {
    display: grid;
    height: 100vh;
    grid-template-rows: 40px 1fr 40px;
}

.icon {
    height: 20px;
}

header {
    background-color: mediumvioletred;
    display: grid;
    grid-template-columns: 40px 1fr 80px;
    align-content: center;
    padding: 0 15px;
}

main {
    display: grid;
    grid-template-columns: 250px 1fr;
}

.menu {
    background-color: #f2d0e0;
    padding-left: 15px;
    display: grid;
    grid-template-columns: 1fr 3fr 1fr;
    grid-template-rows: 40px 40px 40px 40px 1fr;
    align-items: center;
}

section {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
}

.cardapio {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    box-shadow: 3px 3px 3px darkgray;
    margin: 10px;
    padding-bottom: 10px;
    font-size: smaller;
}

.cardapio img {
    width: 100%;
}

.cardapio {
    padding: 10px;
}

footer {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: mediumvioletred;
}