body {
    background: #DAD3CD;
    font-family: 'Fira Sans', sans-serif;
}

.fotos-produtos img {
    max-width:200px;
    max-height:150px;
    width: auto;
    height: auto;
    text-align: center;
}

.frase-home {
    color: #92897B;
}

table {
    border-collapse: collapse;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    text-align: center;
}

table, th, td {
    background:#DAD3CD;
    border: 0.5px solid #A1BABB;
    text-align: center;
}

.menu{
    text-align: center;
    color: #454940;
}

.ola-home{
    text-align: center;
    color: #454940;
}

.imagem-home{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 35%;
    text-align: center;
}

.redes-sociais{
    text-align: center;
}

.funcionarios
{
    color: #454940;
}

.estoque{
    text-align: center; 
    color: #454940;
}

.produtos{
    color: #454940;
} 