*{
    font-family: 'Courier Prime', monospace;
    background: #F0F4F8; 
}

.home-esquerda{
    position: fixed;
    text-align: center;

}

.home-direita{
    float: right !important;
    text-align: center;
}

.botao-contact{
    border-radius: 50px;
}

.botao-enviar{
    border-radius: 50px;
}

.pagina2{
    text-align: center;
}
