* {
    margin: 0;
    padding: 0;
}

header {
    display: flex;
    background-color: orange;
    justify-content: space-between;
    align-items: center;
    height: 70px;
}

.search {
    height: 35px;
    width: 150px;
    margin-right: 20px;
}

.titulo {
    margin-left: 20px;
    font-size: 15px;
}

footer {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 70px;
    background-color: grey;
}

.galeria {
    width: 250px;
    height: 250px;
    padding: 40px;
}